In [3]:
import pandas as pd
file_path = r'C:\Users\ADMIN\Downloads\FPT\DATN\0.csv'
df = pd.read_csv(file_path)

# Xem trước vài dòng đầu để hiểu cấu trúc dữ liệu
df.head()

,MonthID,ItemID,LocationID,Sum_GrossMarginAmount,Sum_Regular_Sales_Dollars,Sum_Markdown_Sales_Dollars,ScenarioID,ReportingPeriodID,Sum_Regular_Sales_Units,Sum_Markdown_Sales_Units
0,201408,256441,568,4.99,9.99,0.0,1,20140801,1,0
1,201408,289471,24,4.99,9.99,0.0,1,20140801,1,0
2,201408,289471,27,4.99,9.99,0.0,1,20140801,1,0
3,201408,292637,530,4.99,9.99,0.0,1,20140801,1,0
4,201408,292637,565,4.99,9.99,0.0,1,20140801,1,0

In [ ]:


class DataCleaner:
    '''
        Lớp xử lý làm sạch, ép kiểu dữ liệu
    '''
    def __init__(self, df: pd.DataFrame):
        self.df = df

    def drop_nulls(self, columns: list = None):
        if columns:
            self.df = self.df.dropna(subset=columns)
        else:
            self.df = self.df.dropna()

    def convert_types(self, type_dict: dict):
        for col, dtype in type_dict.items():
            try:
                self.df[col] = self.df[col].astype(dtype)
            except Exception as e:
                print(f"Không thể chuyển kiểu cho cột '{col}': {e}")

    def normalize_column_names(self):
        self.df.columns = (
            self.df.columns
            .str.strip()
            .str.lower()
            .str.replace(' ', '_')
            .str.replace(r'[^\w\s]', '', regex=True)
        )

    def clean_text_columns(self, columns: list):
        for col in columns:
            if self.df[col].dtype == object:
                self.df[col] = (
                    self.df[col]
                    .astype(str)
                    .str.strip()
                    .str.lower()
                    .str.replace(r'[^\w\s]', '', regex=True)
                )

    def get_clean_data(self) -> pd.DataFrame:
        return self.df